a {
    color: red;
}

body {
    text-align: center;
    margin-top: 40vh;
    background-image: url('bkgd.jpeg');
    background-size: 100vw 100vmin;
}

button {
    background-color: rgb(248, 57, 57);
    border-color: rgb(248, 57, 57);
    width: 300px;
    height: 150px;
    font-size: larger;
    font-weight: bolder;
}

#click {
    text-align: center;
}

p {
    color: rgb(248, 57, 57);
    background-color: black;
    width: max-content;
    margin: auto;
}

#port {
    border: none;
    color: rgb(56, 7, 18);
    padding: 10px 5px;
    text-align: center;
    margin: 10px;
    top: 0;
    left: 0;
}
    
    
